 <% provide(:title, 'Scenery') %>
    <h1>Scenery</h1>
       <div class="scenery">
     	 
           
               <%= link_to image_tag("s1.jpeg",  alt: "s1")  %>
                <%= link_to image_tag("s2.jpeg",  alt: "s2") %><br />
          
              <%= link_to image_tag("s3.jpeg", alt: "s3") %>
              <%= link_to image_tag("s4.jpeg", alt: "s4") %>
          

     </div>